<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <.live_title suffix=" · Software Developer">
      <%= assigns[:page_title] || "Florian Arens" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>

    <.color_scheme_switch_js />
  </head>
  <body class="flex h-full flex-col g-zinc-100 dark:bg-zinc-900 sm:bg-zinc-50 sm:dark:bg-black z-0">
    <div class="hidden sm:block">
      <div class="fixed inset-0 flex justify-center sm:px-8 lg:px-16">
        <div class="flex w-full max-w-7xl">
          <div class="w-full ring-1 bg-zinc-100 dark:bg-zinc-900 ring-zinc-300/20"></div>
        </div>
      </div>
    </div>

    <div class="z-10 h-full">
      <%= @inner_content %>
    </div>
  </body>
</html>
