<.mobile_navigation />
<header>
  <.navbar current_url={@current_url} />
</header>
<main class="mx-auto my-8 w-full max-w-6xl px-4 md:my-12">
  <%= @inner_content %>
</main>
<.footer current_url={@current_url} />
