<!DOCTYPE html>
<html lang="en" data-theme="winter" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <SEO.juice conn={@conn} config={WebsiteWeb.SEO.config()} page_title={@page_title} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static src={~p"/assets/app.js"}>
    </script>
    <link rel="alternate" type="application/rss+xml" href={url(~p"/rss.xml")} />
  </head>
  <body class="h-full">
    <%= @inner_content %>
    <.analytics />
  </body>
</html>
