<.page_intro title="Legal Notice" />

<article class="prose mt-6">
  <p>Florian Arens<br /> Marienallee 35<br /> 24937 Flensburg<br /> Germany</p>

  <h2>Contact</h2>
  <p>Phone: +49 461 40790932<br /> E-mail: info@farens.me</p>

  <h2>Person responsible for editorial</h2>
  <p>Florian Arens<br /> Marienallee 35<br /> 24937 Flensburg<br /> Germany</p>
</article>
