<.page_intro title="Legal Notice" />

<article class="prose">
  <h2>Information pursuant to Sect. 5 German Telemedia Act (TMG)</h2>
  <p>Florian Arens<br /> Cl&auml;denstr. 10A<br /> 24943 Flensburg<br /> Germany</p>

  <h2>Contact</h2>
  <p>Phone: +49 461 40790932<br /> E-mail: info@farens.me</p>
</article>
